
 bn{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body{ background-color: rgb(73, 109, 79);
    margin: 0;
    padding: 0;
  }
  .navbar {
    background-color: #333;
    padding: 5;
    margin: 0;
}
    
    .nav-list {
        list-style: none;
       
    }
    
    .nav-list li {
        display: inline;
        margin-right: 20px;
    }
    
    .nav-list li a {
        text-decoration: none;
        color: #d11919;
        font-weight: bold;
    }
    
    .nav-list li a:hover {
        color: orange/* Altere esta cor para a cor desejada ao passar o mouse */
    }
    footer{text-align:center;
       
}







